.titulo{
    margin: auto;
    padding-left: 20rem;

}
.form{
    padding-top: 1.5rem;
    padding-right: 5rem;
}
.boton{
    padding-bottom: 4px;
    margin-bottom: 3px;
}
.fondo{
    background-color: darkgray;
}

.user, .pass {
    border: 2px solid red !important;
    border-radius:5px;
}

.a-nombre {
    text-decoration:none;
    color:black;
}

.a-nombre:hover {
    border-bottom:1px solid black;
}
#agregar{
    float: right;
}
h2{
    margin: 20px;
}